<!-- nav.navbar.navbar-expand-lg.bg-dark.navbar-dark -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #242426;">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="m-2 bi bi-journal-bookmark-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
        </svg>
        <a href="{% url 'home' %}" class="navbar-brand">StudyBud</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    {% if request.user.username == "escalpha1247" %}
                    <a href="{% url 'admin' %}" class="nav-link">Admin</a>
                    {%endif%}
                </li>
                <li class="nav-item">
                    <a href="{% url 'create-room' %}" class="nav-link">Create New Room</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'account' request.user.id %}" class="nav-link">Account</a>
                    {%endif%}
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="nav-link">Login/Register</a>
                    {% endif %}
                </li>
            </ul>
            <form role="search" action="{% url 'home' %}" class="d-flex px-2">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary bg-primary text-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
