<div class="row px-4">
    {% for room in rooms %}
    <div class="container pb-4">
        <div class="card bg-dark text-light p-3">
            <div class="card-body">
                <span class="card-link"><a style="color: whitesmoke; text-decoration: none;" href="{% url 'profile' room.host.id %}">@{{ room.host.username }}</a></span>
                <h4 class="card-title py-3">
                    <a href="{% url 'room' room.id %}" style="color: whitesmoke; text-decoration: none;" class="">{{ room.name }}</a>
                </h4>
                <small class="card-subtitle card-link mb-2 text-light"><a style="color: whitesmoke; text-decoration: none;" href="{% url 'home' %}?q={{room.topic.name}}">{{ room.topic.name }}</a></small>
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}" class="card-link">Edit</a>
                <a href="{% url 'delete-room' room.id %}" class="card-link">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>