{% extends 'main.html' %}
{% block content %}
{% if page == "login" %}
<div class="container-fluid p-5">
    <div class="card col-4" style="margin: auto;">
        <div class="card-body p-4">
            <h2 class="card-title pb-2">Login</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {% if alert != "" %}
                <div class="alert alert-warning" role="alert">
                    Username/Password incorrect!
                </div>
                {%endif%}
                <div class="mb-3">
                    <label class="form-label">Username: </label>
                    <input type="text" class="form-control" name="username" placeholder="Type in Username..." required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password: </label>
                    <input type="password" class="form-control" name="password" placeholder="Type in Password..." required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p class=" card-subtitle py-2">Not a member?</p>
            <a href="{% url 'register' %}" class="card-link">Signup</a>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid p-5">
    <div class="card col-8" style="margin: auto;">
        <div class="card-body p-4">
            <h2 class="card-title pb-2">Register</h2>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p class=" card-subtitle py-2">Already a member?</p>
            <a href="{% url 'login' %}" class="card-link">Sign In</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}