{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-0 py-0">
    <div class="container-fluid border border-top border-0 py-4 bg-dark text-light">
        <h1>{{ room.name }}</h1>
        <p style="font-size: 1em;">{{ room.description }}</p>
    </div>
    <h3 class="px-2 py-3">Conversations</h3>
    <div class="row container-fluid">
        <div class="col-8">
            <div name="conversation" class="container-fluid">
                {% for message in room_messages %}
                <small>@{{message.user}} -- {{message.created|timesince}} ago</small>
                {%if request.user == message.user%}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                <p class="text-light rounded-pill px-2 py-1" style="width: fit-content;background-color: blueviolet;border-color: blueviolet; border-width: 1rem;">{{message.body}}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Active Participants</h4>
                        {% for user in participants %}
                        <div class="">
                            <small class="card-link">@{{user.username}}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container pt-3">
                {%if request.user.is_authenticated%}
                <div class="card p-3">
                    <h5 class="px-2">Join the conversation!</h5>
                    <form method="POST" action="" class="px-2">
                        {% csrf_token %}
                        <input type="text" name="comment" placeholder="Type in a comment..." required>
                        <input type="submit" value="Post">
                    </form>
                    <!--<p class="card-subtitle px-2 pt-2 text-body-secondary">Please behave decently!</p>-->
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock content %}