{% extends 'main.html' %}
{% block content %}
<div class="container-fluid px-0">
    {% include 'base/user_nav.html' %}
    <div class="container-fluid">
        <div class="row px-3 py-2 pb-0">
            <div class="card text-light p-3" style="background-color: #242426;">
                <h3 class="card-title pt-2">Bio</h3>
                <hr class="pt-0">
                <p name="bio">...</p>
            </div>
        </div>
    </div>
    <div class="container-fluid px-4 py-0">
        <div class="row py-2">
            <div class="col-3 p-2">
                {% include 'base/topics_comp.html' %}
            </div>
            <div class="col-5 p-2">
                <div class="container">
                    <div class="card py-4" style="background-color: #242426">
                        {% include 'base/feed_comp.html' %}
                    </div>
                </div>
            </div>
            <div class="col-4 p-2">
                {% include 'base/activity_comp.html' %}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="followerModal" tabindex="-1" aria-labelledby="followerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="followerModalLabel">Followers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for follower in user_followers %}
                <a style="text-decoration: none; color: white;">@{{ follower.follower }}</a>
                <br>
                <div class="py-2"></div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}