{% extends 'main.html' %}
{% block content %}
{% if rq == "account" %}
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container">
            <h3>{{ user.username }}</h3>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-3"><h5>Followers</h5></li>
                    <li class="nav-item px-3"><h5>Following</h5></li>
                    <li class="nav-item px-3"><h5>Posts</h5></li>
                </ul>
            </div>
        </div> 
    </nav>
    <div class="container-fluid px-4 py-0">
        <div class="row px-3">
            <div class="col-3 p-2">
                <div class="card py-2">
                    <div class="card-body">
                        <h3 class="card-title">Following</h3>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-5 p-2">
                <div class="card py-2">
                    <div class="card-body">
                        <h3 class="card-title">For You</h3>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-4 p-2">
                <div class="card py-2">
                    <div class="card-body">
                        <h3 class="card-title">Recent Posts</h3>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%else%}
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container">
            <h3>{{ user.username }}</h3>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-3"style="margin: auto;"><h5>Followers</h5></li>
                    <li class="nav-item px-3"style="margin: auto;"><h5>Following</h5></li>
                    <li class="nav-item px-3" style="margin: auto;"><h5>Posts</h5></li>
                    <li class="btn btn-primary rounded-pill" style="padding-bottom:1px;"><h5>Follow</h5></li>
                </ul>
            </div>
        </div> 
    </nav>
    <div class="container-fluid px-4 py-0">
        <div class="row py-2">
            <div class="col-3 p-2">
                {% include 'base/topics_comp.html' %}
            </div>
            <div class="col-5 p-2">
                <div class="container">
                    <div class="card py-4" style="background-color: #242426">
                        {% include 'base/feed_comp.html' %}
                    </div>
                </div>
            </div>
            <div class="col-4 p-2">
                {% include 'base/activity_comp.html' %}
            </div>
        </div>
    </div>
</div>
{%endif%}
{% endblock content %}